.macbook-pro {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-pro .div {
  background-color: #000000;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  width: 1512px;
  height: 4990px;
  position: relative;
}

.macbook-pro .overlap {
  position: absolute;
  width: 1413px;
  height: 239px;
  top: 168px;
  left: 70px;
}

.macbook-pro .ellipse {
  position: absolute;
  width: 9px;
  height: 16px;
  top: 44px;
  left: 1404px;
  background-color: #3f0045;
  border-radius: 4.5px/8px;
  box-shadow: 0px 4px 250px 300px #3f0045;
}

.macbook-pro .rectangle {
  position: absolute;
  width: 1371px;
  height: 239px;
  top: 0;
  left: 0;
  background-color: #39393933;
  border-radius: 7px;
  border: 1px solid;
  border-color: #ffffff;
}

.macbook-pro .text-wrapper {
  position: absolute;
  top: 43px;
  left: 35px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .p {
  position: absolute;
  top: 105px;
  left: 35px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .group {
  position: absolute;
  width: 229px;
  height: 48px;
  top: 164px;
  left: 35px;
}

.macbook-pro .overlap-group {
  position: relative;
  width: 227px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 7px;
}

.macbook-pro .text-wrapper-2 {
  top: 7px;
  left: 12px;
  font-family: "Open Sans", Helvetica;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .image {
  width: 42px;
  height: 42px;
  top: 40px;
  left: 489px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .tower {
  position: absolute;
  width: 460px;
  height: 227px;
  top: 12px;
  left: 945px;
}

.macbook-pro .overlap-2 {
  position: absolute;
  width: 1512px;
  height: 102px;
  top: 0;
  left: 0;
  background-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #555555;
}

.macbook-pro .user {
  position: absolute;
  width: 57px;
  height: 57px;
  top: 23px;
  left: 1417px;
  object-fit: cover;
}

.macbook-pro .the-underrated {
  position: absolute;
  width: 93px;
  height: 70px;
  top: 11px;
  left: 21px;
}

.macbook-pro .text-wrapper-3 {
  position: absolute;
  width: 175px;
  top: 38px;
  left: 116px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #d7d7d7;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .group-2 {
  position: absolute;
  width: 138px;
  height: 33px;
  top: 39px;
  left: 495px;
}

.macbook-pro .img {
  width: 32px;
  height: 33px;
  top: 0;
  left: 104px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #cb00dd;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .group-3 {
  position: absolute;
  width: 131px;
  height: 33px;
  top: 39px;
  left: 649px;
}

.macbook-pro .image-2 {
  width: 32px;
  height: 33px;
  top: 0;
  left: 97px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-6 {
  position: absolute;
  top: 38px;
  left: 797px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .group-4 {
  position: absolute;
  width: 102px;
  height: 33px;
  top: 39px;
  left: 384px;
}

.macbook-pro .image-3 {
  width: 32px;
  height: 33px;
  top: 0;
  left: 68px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .overlap-3 {
  position: absolute;
  width: 2017px;
  height: 1259px;
  top: 601px;
  left: -38px;
}

.macbook-pro .rectangle-2 {
  position: absolute;
  width: 1645px;
  height: 669px;
  top: 381px;
  left: 38px;
  background-color: #000000;
}

.macbook-pro .image-4 {
  width: 425px;
  height: 800px;
  top: 281px;
  left: 1125px;
  mix-blend-mode: hard-light;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .image-5 {
  position: absolute;
  width: 457px;
  height: 938px;
  top: 281px;
  left: 38px;
  mix-blend-mode: hard-light;
  object-fit: cover;
}

.macbook-pro .ellipse-2 {
  position: absolute;
  width: 249px;
  height: 236px;
  top: 145px;
  left: 1277px;
  background-color: #000a43;
  border-radius: 124.5px/118px;
  box-shadow: 0px 4px 250px 300px #000a43;
}

.macbook-pro .ellipse-3 {
  position: absolute;
  width: 105px;
  height: 116px;
  top: 284px;
  left: 0;
  background-color: #3f0045;
  border-radius: 52.5px/58px;
  box-shadow: 0px 4px 250px 300px #3f0045;
}

.macbook-pro .rectangle-3 {
  position: absolute;
  width: 599px;
  height: 484px;
  top: 0;
  left: 108px;
  background-color: #92929233;
  border-radius: 13px;
  border: 2px solid;
  border-color: #4f4f4f;
}

.macbook-pro .rectangle-4 {
  position: absolute;
  width: 599px;
  height: 484px;
  top: 3px;
  left: 763px;
  background-color: #92929233;
  border-radius: 13px;
  border: 2px solid;
  border-color: #4f4f4f;
}

.macbook-pro .image-6 {
  width: 571px;
  height: 220px;
  top: 9px;
  left: 119px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-7 {
  position: absolute;
  top: 244px;
  left: 138px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-8 {
  position: absolute;
  width: 552px;
  top: 289px;
  left: 138px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #c5c5c5;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .overlap-wrapper {
  position: absolute;
  width: 194px;
  height: 58px;
  top: 405px;
  left: 138px;
}

.macbook-pro .div-wrapper {
  position: relative;
  width: 192px;
  height: 58px;
  background-color: #e34e4e;
  border-radius: 35px;
}

.macbook-pro .text-wrapper-9 {
  position: absolute;
  top: 15px;
  left: 23px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .image-7 {
  width: 42px;
  height: 35px;
  top: 242px;
  left: 631px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .overlap-group-wrapper {
  position: absolute;
  width: 146px;
  height: 58px;
  top: 405px;
  left: 341px;
}

.macbook-pro .overlap-4 {
  position: relative;
  width: 144px;
  height: 58px;
  background-color: #ffffff;
  border-radius: 35px;
}

.macbook-pro .text-wrapper-10 {
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .chatbot-wrapper {
  position: absolute;
  width: 67px;
  height: 67px;
  top: 396px;
  left: 614px;
  background-color: #ffffff;
  border-radius: 33.5px;
}

.macbook-pro .chatbot {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 11px;
  left: 11px;
  object-fit: cover;
}

.macbook-pro .rectangle-5 {
  position: absolute;
  width: 599px;
  height: 484px;
  top: 0;
  left: 1418px;
  background-color: #92929233;
  border-radius: 13px;
  border: 2px solid;
  border-color: #4f4f4f;
}

.macbook-pro .rectangle-6 {
  position: absolute;
  width: 144px;
  height: 58px;
  top: 405px;
  left: 1651px;
  background-color: #ffffff;
  border-radius: 35px;
}

.macbook-pro .text-wrapper-11 {
  position: absolute;
  top: 244px;
  left: 1448px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-12 {
  position: absolute;
  width: 552px;
  top: 289px;
  left: 1448px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #c5c5c5;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .group-5 {
  position: absolute;
  width: 194px;
  height: 58px;
  top: 405px;
  left: 1448px;
}

.macbook-pro .overlap-5 {
  position: relative;
  width: 192px;
  height: 58px;
  background-color: #4ee35d;
  border-radius: 35px;
}

.macbook-pro .image-8 {
  width: 42px;
  height: 35px;
  top: 700px;
  left: 841px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-13 {
  top: 419px;
  left: 1666px;
  position: absolute;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .ellipse-4 {
  position: absolute;
  width: 67px;
  height: 67px;
  top: 396px;
  left: 1924px;
  background-color: #ffffff;
  border-radius: 33.5px;
}

.macbook-pro .chatbot-2 {
  top: 865px;
  left: 835px;
  position: absolute;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.macbook-pro .group-6 {
  position: absolute;
  width: 573px;
  height: 220px;
  top: 9px;
  left: 1429px;
  mix-blend-mode: luminosity;
}

.macbook-pro .overlap-6 {
  position: relative;
  width: 571px;
  height: 220px;
}

.macbook-pro .image-wrapper {
  position: absolute;
  width: 571px;
  height: 220px;
  top: 0;
  left: 0;
}

.macbook-pro .image-9 {
  width: 121px;
  height: 220px;
  top: 0;
  left: 0;
  mix-blend-mode: saturation;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-14 {
  position: absolute;
  top: 78px;
  left: 202px;
  font-family: "Saira Stencil One", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .group-7 {
  position: absolute;
  width: 1145px;
  height: 79px;
  top: 587px;
  left: 244px;
}

.macbook-pro .overlap-7 {
  position: relative;
  width: 1143px;
  height: 79px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid;
  border-color: #000000;
}

.macbook-pro .text-wrapper-15 {
  position: absolute;
  top: 24px;
  left: 32px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .search {
  position: absolute;
  width: 49px;
  height: 50px;
  top: 602px;
  left: 154px;
  object-fit: cover;
}

.macbook-pro .image-10 {
  width: 53px;
  height: 50px;
  top: 602px;
  left: 1418px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .rectangle-7 {
  position: absolute;
  width: 599px;
  height: 484px;
  top: 775px;
  left: 186px;
  background-color: #92929233;
  border-radius: 13px;
  border: 2px solid;
  border-color: #4f4f4f;
}

.macbook-pro .rectangle-8 {
  position: absolute;
  width: 144px;
  height: 58px;
  top: 1180px;
  left: 419px;
  background-color: #ffffff;
  border-radius: 35px;
}

.macbook-pro .image-11 {
  width: 571px;
  height: 220px;
  top: 784px;
  left: 197px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-16 {
  position: absolute;
  top: 1019px;
  left: 216px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-17 {
  left: 216px;
  position: absolute;
  width: 552px;
  top: 1064px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #c5c5c5;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .rectangle-9 {
  position: absolute;
  width: 192px;
  height: 58px;
  top: 1180px;
  left: 216px;
  background-color: #e34e4e;
  border-radius: 35px;
}

.macbook-pro .text-wrapper-18 {
  left: 239px;
  position: absolute;
  top: 1194px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .image-12 {
  width: 42px;
  height: 35px;
  top: 1017px;
  left: 709px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-19 {
  top: 1194px;
  left: 434px;
  position: absolute;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .ellipse-5 {
  position: absolute;
  width: 67px;
  height: 67px;
  top: 1171px;
  left: 692px;
  background-color: #ffffff;
  border-radius: 33.5px;
}

.macbook-pro .chatbot-3 {
  top: 1182px;
  left: 703px;
  position: absolute;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.macbook-pro .rectangle-10 {
  position: absolute;
  width: 599px;
  height: 484px;
  top: 775px;
  left: 841px;
  background-color: #92929233;
  border-radius: 13px;
  border: 2px solid;
  border-color: #4f4f4f;
}

.macbook-pro .rectangle-11 {
  position: absolute;
  width: 144px;
  height: 58px;
  top: 1180px;
  left: 1074px;
  background-color: #ffffff;
  border-radius: 35px;
}

.macbook-pro .text-wrapper-20 {
  position: absolute;
  top: 1019px;
  left: 871px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-21 {
  left: 871px;
  position: absolute;
  width: 552px;
  top: 1064px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #c5c5c5;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .rectangle-12 {
  position: absolute;
  width: 192px;
  height: 58px;
  top: 1180px;
  left: 871px;
  background-color: #3f0045;
  border-radius: 35px;
}

.macbook-pro .text-wrapper-22 {
  left: 894px;
  position: absolute;
  top: 1194px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .image-13 {
  width: 42px;
  height: 35px;
  top: 1026px;
  left: 1364px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-23 {
  top: 1194px;
  left: 1089px;
  position: absolute;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .ellipse-6 {
  position: absolute;
  width: 67px;
  height: 67px;
  top: 1174px;
  left: 1347px;
  background-color: #ffffff;
  border-radius: 33.5px;
}

.macbook-pro .chatbot-4 {
  top: 1186px;
  left: 1358px;
  position: absolute;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.macbook-pro .image-14 {
  width: 558px;
  height: 219px;
  top: 785px;
  left: 860px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-24 {
  position: absolute;
  top: 244px;
  left: 792px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-25 {
  position: absolute;
  width: 552px;
  top: 289px;
  left: 792px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #c5c5c5;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .group-8 {
  position: absolute;
  width: 194px;
  height: 58px;
  top: 405px;
  left: 792px;
}

.macbook-pro .overlap-8 {
  position: relative;
  width: 192px;
  height: 58px;
  background-color: #4ea4e3;
  border-radius: 35px;
}

.macbook-pro .image-15 {
  width: 42px;
  height: 35px;
  top: 242px;
  left: 1285px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .group-9 {
  position: absolute;
  width: 146px;
  height: 58px;
  top: 405px;
  left: 995px;
}

.macbook-pro .img-wrapper {
  position: absolute;
  width: 67px;
  height: 67px;
  top: 396px;
  left: 1268px;
  background-color: #ffffff;
  border-radius: 33.5px;
}

.macbook-pro .group-10 {
  position: absolute;
  width: 573px;
  height: 220px;
  top: 9px;
  left: 773px;
}

.macbook-pro .overlap-9 {
  position: relative;
  width: 571px;
  height: 220px;
  background-image: url(./img/image-17.png);
  background-size: cover;
  background-position: 50% 50%;
}

.macbook-pro .text-wrapper-26 {
  position: absolute;
  top: 523px;
  left: 70px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-27 {
  position: absolute;
  top: 1938px;
  left: 688px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .overlap-10 {
  position: absolute;
  width: 1525px;
  height: 347px;
  top: 2051px;
  left: -13px;
  background-color: #92929233;
}

.macbook-pro .text-wrapper-28 {
  position: absolute;
  top: 35px;
  left: 583px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #c622ac;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-29 {
  position: absolute;
  width: 1279px;
  top: 114px;
  left: 123px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .overlap-11 {
  position: absolute;
  width: 232px;
  height: 92px;
  top: 210px;
  left: 647px;
  background-color: #ffffff;
  border-radius: 40px;
}

.macbook-pro .text-wrapper-30 {
  position: absolute;
  top: 32px;
  left: 37px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .image-16 {
  width: 42px;
  height: 42px;
  top: 29px;
  left: 167px;
  mix-blend-mode: exclusion;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-31 {
  top: 532px;
  left: 1231px;
  font-family: "Courier Prime", Helvetica;
  color: #ffffff;
  font-size: 32px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .group-11 {
  position: absolute;
  width: 1770px;
  height: 1032px;
  top: 3887px;
  left: -103px;
}

.macbook-pro .overlap-12 {
  position: relative;
  width: 1758px;
  height: 1032px;
}

.macbook-pro .group-12 {
  position: absolute;
  width: 1758px;
  height: 1025px;
  top: 0;
  left: 0;
}

.macbook-pro .overlap-13 {
  position: relative;
  width: 1756px;
  height: 1025px;
}

.macbook-pro .group-13 {
  position: absolute;
  width: 1756px;
  height: 902px;
  top: 123px;
  left: 0;
}

.macbook-pro .overlap-group-2 {
  position: absolute;
  width: 1512px;
  height: 285px;
  top: 0;
  left: 103px;
}

.macbook-pro .tower-2 {
  position: absolute;
  width: 871px;
  height: 285px;
  top: 0;
  left: 641px;
}

.macbook-pro .tower-3 {
  position: absolute;
  width: 909px;
  height: 285px;
  top: 0;
  left: 0;
}

.macbook-pro .image-17 {
  width: 35px;
  height: 35px;
  top: 867px;
  left: 977px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .the-underrated-2 {
  position: absolute;
  width: 126px;
  height: 100px;
  top: 486px;
  left: 145px;
}

.macbook-pro .text-wrapper-32 {
  width: 233px;
  top: 524px;
  left: 249px;
  font-family: "Open Sans", Helvetica;
  color: #d7d7d7;
  position: absolute;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .the-underrated-3 {
  position: absolute;
  width: 341px;
  height: 246px;
  top: 0;
  left: 704px;
}

.macbook-pro .research-overview {
  position: absolute;
  top: 524px;
  left: 797px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .products-service {
  position: absolute;
  top: 524px;
  left: 1067px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .company-about-blogs {
  position: absolute;
  top: 524px;
  left: 1418px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .line {
  position: absolute;
  width: 1361px;
  height: 1px;
  top: 804px;
  left: 173px;
  object-fit: cover;
}

.macbook-pro .text-wrapper-33 {
  position: absolute;
  width: 252px;
  top: 837px;
  left: 182px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .terms-and-policy {
  position: absolute;
  top: 875px;
  left: 182px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .linkedin-tnstagram {
  position: absolute;
  top: 837px;
  left: 797px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .rectangle-13 {
  position: absolute;
  width: 208px;
  height: 51px;
  top: 981px;
  left: 764px;
  border-radius: 11px;
  border: 1px solid;
  border-color: #ffffff;
}

.macbook-pro .text-wrapper-34 {
  position: absolute;
  top: 993px;
  left: 788px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-35 {
  position: absolute;
  top: 2527px;
  left: 68px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .overlap-14 {
  position: absolute;
  width: 1412px;
  height: 292px;
  top: 2667px;
  left: 66px;
}

.macbook-pro .rectangle-14 {
  position: absolute;
  width: 1223px;
  height: 292px;
  top: 0;
  left: 97px;
  background-color: #9d9d9d33;
  border-radius: 13px;
  border: 1px solid;
  border-color: #616161;
}

.macbook-pro .image-18 {
  width: 113px;
  height: 114px;
  top: 32px;
  left: 1165px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-36 {
  position: absolute;
  top: 165px;
  left: 1086px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-37 {
  position: absolute;
  top: 210px;
  left: 952px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .image-19 {
  width: 75px;
  height: 65px;
  top: 12px;
  left: 110px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .text-wrapper-38 {
  width: 827px;
  top: 76px;
  left: 124px;
  font-family: "Courier Prime", Helvetica;
  color: #ffffff;
  position: absolute;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .text-wrapper-39 {
  position: absolute;
  top: 235px;
  left: 124px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #cb00dd;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .group-14 {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 79px;
  left: 1302px;
  background-color: #ffffff;
  border-radius: 55px;
  border: 1px solid;
  border-color: #000000;
}

.macbook-pro .image-20 {
  position: absolute;
  width: 34px;
  height: 41px;
  top: 37px;
  left: 37px;
  object-fit: cover;
}

.macbook-pro .group-15 {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 79px;
  left: 0;
  background-color: #ffffff;
  border-radius: 55px;
  border: 1px solid;
  border-color: #000000;
  transform: rotate(-180deg);
}

.macbook-pro .image-21 {
  transform: rotate(180deg);
  position: absolute;
  width: 34px;
  height: 41px;
  top: 37px;
  left: 37px;
  object-fit: cover;
}

.macbook-pro .text-wrapper-40 {
  position: absolute;
  top: 3259px;
  left: 252px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-41 {
  position: absolute;
  width: 534px;
  top: 3356px;
  left: 252px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .terms-conditions-wrapper {
  position: absolute;
  width: 417px;
  height: 88px;
  top: 3582px;
  left: 249px;
  background-color: #ffffff;
}

.macbook-pro .terms-conditions {
  position: absolute;
  top: 25px;
  left: 36px;
  font-family: "Courier Prime", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .friends {
  position: absolute;
  width: 318px;
  height: 338px;
  top: 3288px;
  left: 942px;
  object-fit: cover;
}
